.banner{
    margin-top: 200px;
}
.slide{
    margin-top: 18%;
}
.slides__flex{
    display: flex;
}
#slides_2, #slides_3, #slides_4{
    display: none;
}
@media(max-width: 1024px){
    .banner{
        margin-top: 100px;
    }    
}
@media(max-width: 700px){
    .banner{
        margin-top: 10px;
    } 
}