.commodity{
    display: flex;
    &__images{
        margin-left: 15%;
        margin-top: 5vh;
        width: 2000px;
        height: 75vh;
        overflow: scroll;
        img{
            margin-bottom: 20px;
        }
    }
    &__image{
        width: 400px;
    }
    &__name{
        margin-top: 5vh;
        font-style: normal;
        line-height: normal;
        font-size: 24px;
    }
    &__description{
        margin-left: 10%;
    }
    &__price{
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 22px;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    &__composition{
        margin-top: 23px;
        div{
            margin-top: 9px;
        }
    }
    &__add-cart{
        background-color: black;
        color: white;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        padding-left: 39px;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 225px;
        margin-top: 32px;
        margin-bottom: 32px; 
        border: 1px solid black;
        transition: all 0.5s; 
        &:hover{
            background-color: white;
            color: black;
        }
    }
    &__desc-name{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
    }
    &__desc{
        margin-right: 10%;
        &-name{
            margin-bottom: 10px;
        }
    }
}
@media(max-width: 800px){
    .commodity{
        display: block;
        &__images{
            width: 75%;
            height: 81%;
            overflow: hidden;
            margin-left: 10%;
        }
    }
}
@media(max-width: 400px){
    width: 100%;
    margin-left: 36px;
    .commodity{
        display: block;
        &__images{
            width: 77%;
            height: 50%;
            overflow: hidden;
            margin-left: 10%;
        }
    }
}