.header{
    .menu{
        display: flex;
    }   
    &__left{
        padding-top: 24px;
        padding-bottom: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 18px;
        margin-left: 42px;
        li{
            display: inline;
            margin-right: 30px;
        }
        width: 40%;
    }
    &__name{
        font-style: italic;
        font-weight: normal;
        line-height: normal;
        font-size: 30px;
        padding-top: 17px;
        padding-bottom: 17px;
        width: 20%;
    }
    &__input{
        border: none;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 16px;
        color: #322F2F;
        border-bottom: 1px solid black;
        width: 174px;
    }
    &__right{
        width: 40%;
        padding-top: 23px;
        padding-bottom: 23px;
        li{
            display: inline-block;
            margin-right: 30px;
        }
    }
}

.mobile-name{
    display: none;
}
.mobile-icon{
    display: none;
    float: right;
    margin-right: 20px;
}
.submenu{
    display: none;
    background-color: white;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 3px;
    li{
        display: block;
        margin-bottom: 3px;
    }
    position: absolute;
    left: 110px;
    &_st{
        width: auto;
    }
}

@media(max-width: 1200px) and(min-width:1024px){
    .header{
        input{
            width: 100px;
        }
    }
}
@media(max-width: 1024px){
    body{
        width: 100vw;
    }
    .header{
        width: 100%;
        width: 100vw;
        padding-bottom: 60px;
        .search{
            display: none;
        }
        form{
            margin-bottom: 0;
        }
        .menu{
            font-size: 24px;
            display: none;
            position: absolute;
            width: 100%;
            background-color: white;
            margin-top: 100px;
            top: -40px;
            z-index: 10;
            padding-left: 10vw;
            li{
                padding-bottom: 13px;
                width: 100vw;
            }
        }
        &__name{
            display: none;
        }
        input{
            width: 100px;
            font-size: 24px;
            width: 140px;
        }
        li{
            display: block;
        }
        &__left{
            margin-left: 0;
            font-size: 24px;
            padding-bottom: 0;
        }
        &__right{
            padding-top: 0;
        }
    }
    .mobile-icon{
        display: inline-block;
        background-color: white;
        position: absolute;
        top: 2%;
        left: 90%;
        width: 10vw;
        img{
        }
    }
    .mobile-name{
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 40px;
    }
    .submenu{
        position: static;
        z-index: 999;
    }
    .search{
        display: none;
    }
    .subscribe__input{
        text-align: left;
    }
    .header_tv{
        padding-bottom: 10px;
    }
}
@media(max-width: 500px){
    .mobile-name{
        font-size: 30px;
    }
    .submenu_st{
        width: 100vw;
    }
    .subscribe__input{
        text-align: left;
    }
}
@media(max-width: 350px){
    .submenu_st{
        width: 100vw;
    }
    .mobile-name{
        font-size: 30px;
    }
    .mobile-icon{
        padding-top: 27px;
    }
    .mobile-icon{
        width: 15vw;
        left: 87%;
    }
}